body {
  text-align: center;
  margin-top: 80px;
  font-family: 'Source Code Pro', monospace;
}
.greeting {
  color: green;
  font-size: 20px;
}
.char-list li{
  color: blue;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
}
figcaption {
  font-family: "Arial";
  font-size: 20px;
}
ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  border: 3px solid blue;
  font-size: 20px;
}
a {
  font-size: 30px;
  text-decoration: none;
  color: gray;
}
.rounded-circle {
  border: 3px solid black;
  width: 250px;
}
.textCenter {
  text-align: center;
}
footer p{
  margin-top: 100px;
}
footer {
  font-family: "Arial";
  padding-bottom: 2px;
  background-color: lightgray;
}